:root {
  --color-primary: #6f6af8;
  --color-primary-light: hsla(242, 91%, 69%, 18%);
  --color-primary-variant: #5854c7;
  --color-red: #da0f3f;
  --color-red-light: ■ hsla(346, 87%, 46%, 15%);
  --color-green: #00c476;
  --color-green-light: hsla(156, 100%, 38%, 15%);
  --color-gray-900: #1e1e66;
  --color-gray-700: #2d2b7c;
  --color-gray-300: rgba(242, 242, 254, 0.3);
  --color-gray-200: rgba(242, 242, 254, 0.7);
  --color-white: #f2f2fe;
  --color-bg: #0f0f3e;

  --transition: all 300ms ease;

  --container-width-lg: 74%; /* for large devices*/
  --container-width-md: 88%; /* for medium/small devices*/
  --form-width: 40%;

  --card-border-radius-1: 0.3rem;
  --card-border-radius-2: 0.5rem;
  --card-border-radius-3: 0.8rem;
  --card-border-radius-4: 2rem;
  --card-border-radius-5: 5rem;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  appearance: 0;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", "sans-serif";
  line-height: 1.6;
  max-width: 100vw;
  color: var(--color-gray-200);

  background: var(--color-bg);
  font-size: 0.9rem;
}

.container {
  width: var(--container-width-lg);
  max-width: 1800px;
  margin-inline: auto;
  overflow-x: hidden;
}

section {
  margin-top: 3rem;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-white);
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.1rem;
  margin: 0.8rem 0 0.5rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: var(--color-white);
  transition: var(--transition);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*####################   NAVBAR  ####################*/

nav {
  border-bottom: 1px solid white;
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 10;
}

nav button {
  display: none;
}

.nav__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-weight: 600;
  font-size: 1.2rem;
}

.nav__items {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__items ul li {
  left: -5rem;
}

.post {
  margin-top: 10rem;
  margin-left: 8rem;
}

.post h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 97px;
  letter-spacing: 0em;
  text-align: left;
}

.post__title {
  font-weight: 400;
  font-size: 80px;
  line-height: 96.82px;
}

.post__body {
  font-weight: 300;
  font-size: 16px;
  line-height: 25.82px;
  margin-top: 1.6rem;
}

.solana ul {
  position: relative;
  margin-top: 2rem;
  margin-left: -9.3rem;
  display: flex;
}

.discover-more {
  border: 2px solid white;
  width: 7.6rem;
  height: 1.5rem;
  padding: 1rem;
  border-radius: var(--card-border-radius-4);
  display: flex;
}

.child1 {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5rem;
  width: auto;
  margin-bottom: 6rem;
}

.footer__container h4 {
  font-weight: 600;
  font-size: 60px;
  line-height: 96px;
}

.footer__container ul {
  font-weight: 300;
  font-size: 18px;
  line-height: 28.8px;
  justify-content: center;
  grid-auto-flow: column;
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.ruler {
  white-space: nowrap;
  padding: 0.3rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  overflow: hidden;
  display: inline-block;
  animation: ruler 10s linear infinite;
}

.ruler p {
  display: inline-block;
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

@keyframes ruler {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
.ruler i {
  font-size: 40px;
}

.ruler span {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0em;
}

.c-image img {
  width: 30rem;
  height: 30rem;
}

.post-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
}

.post__body-4 {
  float: right;
  right: 0;
}

.c-image-4 {
  float: left;
}

.c-image-4 img {
  width: 12rem;
  height: 12rem;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
  
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  .tg {
    width: auto !important;
  }
  .tg col {
    width: auto !important;
  }
  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/*  MEDIA QUERIES   */

@media screen and (max-width: 1024px) {
  /*  GENERAL */

  body {
    overflow-x: hidden;
  }

  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.8rem;
  }

  /*NAVBAR*/

  nav button {
    display: inline-block;
    font-size: 1.5rem;
    background: transparent;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close__nav-btn {
    display: none;
  }

  .nav__container {
    position: relative;
  }

  .nav__items {
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: 0;
    width: 12rem;
    justify-content: center;
    gap: 0;
  }

  .nav__items li {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
    background: var(--color-gray-900);
    border-top: 1px solid var(--color-bg);
    animation: animateDropdown 4s 0s ease forwards;
    opacity: 0;
    transform-origin: top;
  }

  .nav__items li:nth-child(2) {
    animation-delay: 200ms;
  }
  .nav__items li:nth-child(3) {
    animation-delay: 400ms;
  }
  .nav__items li:nth-child(4) {
    animation-delay: 600ms;
  }
  .nav__items li:nth-child(5) {
    animation-delay: 800ms;
  }

  /*    nav dropdown animation  */
  @keyframes animateDropdown {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }

  .nav__items li a {
    border-radius: 0;
    width: 100%;
    height: 100%;
    background: var(--color-gray-900);
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }
}
